html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #5454d4;
    --secondary-color: #f04037;
    --yellow: #fedc5a;
    --heading-color: #19191b;
    --heading--text: #696871;
    --extra-color: #413E65;
    --getstarted-text: #FFFFFFB3;
}

.center {
    text-align: center;
}
