// Breakpoints
$small: 576px;
$medium: 768px;
$mediumPlus: 992px;
$big: 1200px;
$bigPlus: 1400px;

$ovalChange: 1025px;
// Colors
$Cprimary: #5454d4;
$Csecondary: #f04037;
$Cyellow: #fedc5a;
$Cblack: #19191b;
$Cgray: #696871;
$Cfaded: #FFFFFFB3;
$Cextra: #413E65;