.body__background {
  height: 678px;
  width: 678px;
  background-image: url("../../CLIENT/images/Oval-492x492.png.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: -200px;
}
@media (min-width: 1025px) {
  .body__background {
    background-image: url("../../CLIENT/images/Oval.png.webp");
    top: 0;
  }
}