@import '../base/variables.scss';
@import '../base/utils.scss';
@import '../base/anim/keyframes.css';

.container {
  .landing {
    display: inline-block;

    @media (max-width: $mediumPlus) {
      display: grid;

      .landing__left {
        order: 2;
      }

      .landing__right {
        order: 1;

        .landing__right_popup.popup-1 {
          left: 0;
        }
      }

    }
  }
}

.landing__left {
  order: 1;

  .landing__left_content {
    margin-top: 64px;
    margin-right: 10px;
    padding: 10px;

    h1 {
      color: $Cblack;
      @include font(clamp(38px, 6vw, 80px), 600, 1.05em);
      margin-bottom: 20px;
    }

    p {
      color: $Cgray;
      @include font(21px, 400, 32px, -0.5px);
      margin-bottom: 36px;
    }

    .landing__left-intro {
      display: block;
      color: $Cprimary;
      @include font(16px, 500, 20px, -0.5px);
      cursor: pointer;

      i {
        margin-right: 10px;
      }
    }
  }
}

.landing__right {
  position: relative;
  order: 2;

  .landing__right_popup {
    @include flex();
    gap: 15px;
    position: absolute;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0px 32px 34px 0px #1c1b2033;

    .checkMark {
      @include flex();
      background-color: $Cyellow;
      border-radius: 50px;
      width: 31px;
      height: 31px;
    }

    h4 {
      @include font(16px, 400, 20px, -0.5px);
    }

    &.popup-1 {
      top: 92px;
      left: 105px;
      background-color: $Cprimary;
      color: #fff;
      animation: popup-1 2s ease-in-out infinite alternate-reverse both;
    }

    &.popup-2 {
      bottom: 130px;
      right: -12px;
      background-color: $Cyellow;
      animation: popup-2 2s ease-in-out infinite alternate both;

      .checkMark {
        background-color: $Cprimary;
        color: #fff;
      }

      h4 {
        color: $Cblack;
        max-width: 218px;
      }
    }
  }

  .landing__right_phone {
    height: 100%;
    width: 100%;
    text-align: center;

    img {
      padding: 10px;
    }
  }
}