@import '../base/anim/keyframes.css';
.container .landing {
  display: inline-block;
}
@media (max-width: 992px) {
  .container .landing {
    display: grid;
  }
  .container .landing .landing__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container .landing .landing__right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container .landing .landing__right .landing__right_popup.popup-1 {
    left: 0;
  }
}

.landing__left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.landing__left .landing__left_content {
  margin-top: 64px;
  margin-right: 10px;
  padding: 10px;
}
.landing__left .landing__left_content h1 {
  color: #19191b;
  font-family: "Circular Std", sans-serif;
  font-size: clamp(38px, 6vw, 80px);
  font-weight: 600;
  line-height: 1.05em;
  letter-spacing: normal;
  margin-bottom: 20px;
}
.landing__left .landing__left_content p {
  color: #696871;
  font-family: "Circular Std", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin-bottom: 36px;
}
.landing__left .landing__left_content .landing__left-intro {
  display: block;
  color: #5454d4;
  font-family: "Circular Std", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
  cursor: pointer;
}
.landing__left .landing__left_content .landing__left-intro i {
  margin-right: 10px;
}

.landing__right {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.landing__right .landing__right_popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  position: absolute;
  padding: 18px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 32px 34px 0px rgba(28, 27, 32, 0.2);
          box-shadow: 0px 32px 34px 0px rgba(28, 27, 32, 0.2);
}
.landing__right .landing__right_popup .checkMark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fedc5a;
  border-radius: 50px;
  width: 31px;
  height: 31px;
}
.landing__right .landing__right_popup h4 {
  font-family: "Circular Std", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
}
.landing__right .landing__right_popup.popup-1 {
  top: 92px;
  left: 105px;
  background-color: #5454d4;
  color: #fff;
  animation: popup-1 2s ease-in-out infinite alternate-reverse both;
}
.landing__right .landing__right_popup.popup-2 {
  bottom: 130px;
  right: -12px;
  background-color: #fedc5a;
  -webkit-animation: popup-2 2s ease-in-out infinite alternate both;
          animation: popup-2 2s ease-in-out infinite alternate both;
}
.landing__right .landing__right_popup.popup-2 .checkMark {
  background-color: #5454d4;
  color: #fff;
}
.landing__right .landing__right_popup.popup-2 h4 {
  color: #19191b;
  max-width: 218px;
}
.landing__right .landing__right_phone {
  height: 100%;
  width: 100%;
  text-align: center;
}
.landing__right .landing__right_phone img {
  padding: 10px;
}