.save-time__lft-side .save-time__lft-side-content {
   margin: 74px 60px 0 0;
   padding: 10px;
}

.save-time__lft-side .save-time__lft-side-content h1 {
   color: #19191b;
   font-family: "Circular Std", sans-serif;
   font-size: 45px;
   font-weight: 600;
   letter-spacing: normal;
   margin-bottom: 20px;
}

.save-time__lft-side .save-time__lft-side-content p {
   color: #696871;
   font-family: "Circular Std", sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 32px;
   letter-spacing: -0.5px;
   margin-bottom: 36px;
}

.save-time__right-side #BG-img {
   background-image: url(../../CLIENT/images/BG.jpg.webp);
   background-repeat: no-repeat;
   background-size: 315px 465px;
   width: 315px;
   height: 465px;
   align-items: center;
   margin: 30px 0 0 130px;
   box-shadow: 0px 32px 34px 0px rgb(28 27 32 / 20%);
}

.save-time__right-side img {
   width: 315px;
   height: 465px;
   margin: 30px 0 0px 50px;
}

.save-time__right-side_popup .bell {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   background-color: #5454d4;
   border-radius: 50px;
   width: 31px;
   height: 31px;
}

.save-time__right-side_popup {
   display: flex;
   width: 25%;
   justify-content: flex-start;
   flex-direction: column;
   gap: 15px;
   padding: 18px;
   border-radius: 8px;
   -webkit-box-shadow: 0px 32px 34px 0px rgb(28 27 32 / 20%);
   box-shadow: 0px 32px 34px 0px rgb(28 27 32 / 20%);
   top: 92px;
   left: 105px;
   background-color: #fedc5a;
   color: #fff;
   animation: popup-1 2s ease-in-out infinite alternate-reverse both;
}

.save-time__right-side_popup h4 {
   color: #b9a247;

}

.save-time__right-side_popup h3 {
   color: #343022;
}