/* base */
@import '../base/reset.css';
@import '../base/variables.scss';
@import '../base/utils.scss';
@import '../base/base.css';

/* layout */
@import '../base/layout.css';

/* components */
@import '../components/buttons.scss';
@import '../components/form.css';

/* animations */
@import '../base/anim/keyframes.scss';

.title {
    font-size: 50px;
    font-weight:700;
}

/* Header start */
/* Header end */

/* Hero start */
/* Hero end */

/* Companies' logos start */
/* Companies' logos end */

/* Features start */
/* Features end */

/* Project Discussion with John start */
/* Project Discussion with John end */

/* Project from David start*/
/* Project from David end*/

/* Testemonies start */
/* Testemonies end */

/* Get Started Form start*/
.get-started-section {
    background-color: #19191b;
    color: #fff;
    border-top-right-radius: 600px 90px;
    border-top-left-radius: 500px 7px;
    position: relative;
}
.get-started-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding-top: 30px;
}
.get-started-content > p {
    padding: 0 2px 0 2px;
    line-height: 30px;
    font-size: 17px;
    color: #b6b6b7;
}
.blue-semi-circle {
    width: 30%;
    position: absolute;
    top: 4px;
    left: 0px;
}
.slide-up {
    overflow: hidden;
    animation: 2s slide-up;
    margin-top: 0%;
}

@keyframes slide-up {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}
/* Get Started Form end*/

/* Footer start */
/* Footer end */

@media (max-width: 768px){
    .title {font-size: 40px;}
    .blue-semi-circle{display: none;}
 }
@media (max-width: 576px){
    .title {font-size: 30px;}
 }
